.container {
  width: 1280px;
  margin: 0 auto;
    @media only screen and (max-width: 1280px) {
      width: 100%;
      padding: 0 16px;
  }
}
  
h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 26px;
}

p {
  color: #808a94;
}
  
.shadow-top {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 1);
}

.nuxtfooterlink {
  color: #808a94;
  text-shadow: 0 0 0;
  transition: .3s;
} 

.nuxtfooterlink:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  transition: .3s;
} 
.nuxtfooterlinkp {
  color: #fff;
  text-shadow: 0 0 0;
  transition: .3s;
} 

.nuxtfooterlinkp:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff;
  transition: .3s;
} 

.border-grey-bottom {
  border-bottom: solid 1px hsla(0,0%,82%,.2);
}

.inputbox {
  border: solid 1px black;
  padding: 5px 10px;
  @media only screen and (max-width: 768px) {
    width: 90%;
  }
}

.emailbox {
  border: solid 1px black;
  padding: 5px 10px;
}

.submit {
  border: solid 1px black;
  padding: 5px;
}

.next {
  right: 0;
  z-index: 999;
  cursor: pointer;
}
.prev {
  left: 0;
  z-index: 999;
  cursor: pointer;
}

.downloadbtn {
  width: 150px;
  padding: 10px 25px;
  background-color: #46c5f1;
  border-radius: 4%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  z-index: 50;
}

.reservering {
  width: 180px;
  padding: 10px 25px;
  background-color: #46c5f1;
  border-radius: 4%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
}

.reservering:hover {
  background-color: #65d5fa;
  transition: .3s ease-in-out;
}

.reserveringadmin {
  width: 220px;
  padding: 10px 25px;
  background-color: #46c5f1;
  border-radius: 4%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
}

.reserveringadmin:hover {
  background-color: #65d5fa;
  transition: .3s ease-in-out;
}

.downloadbtn:hover {
  background-color: #65d5fa;
  transition: .3s ease-in-out;
}

.grijzetext {
  color: #808a94;
}

.banen {
  padding: 10px;
  border: solid 1px #000;
}

.rodetekst {
  color: red;
}

.groenetekst {
  color: lime;
}

.reserveringtable>tr>td {
  border: solid 1px #ccd9e6;  
  color: #808a94;
  padding: 10px;
}
.reserveringtable>div>tr>td {
  border: solid 1px #ccd9e6;  
  color: #808a94;
  padding: 10px;
}

.allreserveringen>div>tr>td {
  border: solid 1px #ccd9e6;  
  color: #808a94;
  padding: 10px;
}

.kruis {
  width: 30px;
  cursor: pointer;
}

.een, .twee{
  height: 3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: red;
}

.een {
  transform: rotate(-45deg) translate(-2px, 1px);
}

.twee {
  transform: rotate(45deg) translate(0px,0px);
}

.rev {
  display: revert;
  flex-direction: row;
  width: 100%;
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      width: 50%;
  }
}

.revall {
  display: flex;
  flex-direction: row;
  width: 100%;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
  }
}

.errorlink {
  color: #808a94;
  font-weight: bold;

}

.verwijder {
  cursor: pointer;
}

.notunderlined {
  margin-left: -25px;
}

.kleinoogaan {
  width: 4%;
  height: auto;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: 8%;
  }
  @media only screen and (max-width: 375px) {
    width: 50%;
  }
}

.kleinooguit {
  width: 6%;
  height: auto;
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: 12%;
  }
  @media only screen and (max-width: 375px) {
    width: 50%;
  }
}

.linktekst {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}