.navbarcontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    height: 75px;
    @media only screen and (max-width: 1023px) {
        padding: 0 16px;
    }
}

a {
    padding: 26px 22px;
    color: #808a94;
    @media only screen and (max-width: 1023px) {
        padding: 13px 22px;
    }
}

.logo {
    padding: 0;
}

.nuxt-link-exact-active {
    border-bottom: 2px solid #46c5f1;
    color: #021d26;
    font-weight: bold;
}

.footer-bg {
    background-color:  #021d26;
}

.buttonnav {
    width: 150px;
    padding: 10px 25px;
    background-color: #46c5f1;
    border-radius: 4%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.buttonnav:hover {
    background-color: #65d5fa;
    transition: .3s ease-in-out;
}

.lines {
    width: 30px;
}

.lines .open {
    margin-right: 10px;
}

.one, .two, .three{
    height: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #021d26;
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translate(0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.two {
    margin: 7px 0;
}

.hamburgerrechts {
    position: absolute;
    right: 0;
}

.open .lines .one {
    transform: rotate(-45deg) translate(-9px,0px);
}

.menu--list {
    z-index: 50;
}

.open .lines .two {
    transform: translate(-20px,0);
    opacity: 0;
}

.open .lines .three {
    transform: rotate(45deg) translate(-12px,-5px);
}

.menu-collapse {
    height: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    background: #fff;
    box-shadow: -10px 0 20px 0 rgba(0,0,0,.1);
}

.menu-collapse.opennav {
    height: 100vh;
    z-index: 49;
    padding: 20px 16px 140px;
    position: relative;
    overflow: scroll;
    opacity: 1;
    margin-right: -30px;
    margin-left: 50px;
}

.absoluteright {
    position: absolute;
    right: 0;
}

.hide {
    display: none;
}

.hide.openlink {
    display: inline;
    flex-wrap: wrap;
}

.mobilelink {
    border-bottom: none;
}

.mobilelink.nuxt-link-exact-active::before {
    content: "";
    background-color: #46c5f1;
    border-radius: 100%;
    padding: 0 4px;
    margin-right: 10px;
    font-size: 6px;
    margin-left: 10px;
    height: 1px
}

.mobile>.nuxt-link-exact-active {
    margin-left: -30px;
}

.mobile-menu {
    height: 78px;
}

.mobile {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pin-r50 {
    right: 50px;
}